@media  (min-device-width : 900px) and (max-device-width : 1024px){
    header{
        width: 100%;
        min-height: 100vh;
        background-color: #30353b 0%;
        nav{
            padding: 5px;
            .imagen-logo{
                width: 40px;
                height: 40px;
            }
            .logoname p{
                font-size: 20px;
                text-align: center;
            }
            .link{
                font-size: 18px;
            }
        }
        section{
            width: 100%;
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        }
        div{
            text-align: center;
            padding: 10px;
            .titulo-activo{
                font-size: 45px;
            }
            p{
                font-size: 25px;
            }
            .cta{
                padding: 10px 20px;
                display: inline-block;
                background:#F4BD76;
                text-decoration: none;
                color: #30353b;
                font-weight: 700;
                box-shadow: 0 8px 8px, #00000033;
                margin: 10px;
            }
            div.imagenP{
                width: 35%;
                height: 50%;
                padding: 20px;
            }
        }
    }
}
@media  (min-device-width : 700px) and (max-device-width : 900px){
    header{
        width: 100%;
        min-height: 100vh;
        background-color: #30353b 0%;
        nav{
            padding: 5px;
            .imagen-logo{
                width: 40px;
                height: 40px;
            }
            .container{
                width: 90%;
                max-width: 1000px;
                overflow: hidden;
            }
            .logoname p{
                font-size: 15px;
                text-align: center;
            }
            .link{
                font-size: 10px;
            }
        }
        section{
            width: 100%;
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        }
        div{
            text-align: center;
            padding: 10px;
            .titulo-activo{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }
            .cta{
                
                padding: 10px 20px;
                display: inline-block;
                background:#F4BD76;
                text-decoration: none;
                color: #30353b;
                font-weight: 700;
                box-shadow: 0 8px 8px, #00000033;
                margin: 10px;
            }
            div.imagenP{
                width: 30%;
                height: 40%;
                padding: 20px;
            }
        }
        
    }
    
}
@media  (min-device-width : 500px) and (max-device-width : 700px){
    header{
        width: 100%;
        min-height: 100vh;
        background-color: #30353b 0%;
        nav{
            padding: 5px;
            
            .container{
                width: 100%;
                max-width: 1000px;
                overflow: hidden;
            }
            .logoname p{
                font-size: 20px;
            }
            .link{
                font-size: 15px;
            }
        }
        .imagen-logo{
            width: 30px;
            height: 30px;
        }
        section{
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            overflow: hidden;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
        div{
            text-align: center;
            padding: 10px;
            .titulo-activo{
                font-size: 25px;
            
            }
            p{
                font-size: 18px;
            }
            .cta{
                width: 40%;
                padding: 10px 20px;
                display: inline-block;
                background:#F4BD76;
                text-decoration: none;
                color: #30353b;
                font-weight: 700;
                box-shadow: 0 8px 8px, #00000033;
                margin: 10px;
            }
            div.imagenP{
                width: 30%;
                height: 40%;
                padding: 20px;
            }
        }
        
    }
    
}
@media  (min-device-width : 250px) and (max-device-width : 500px){
    header{
        width: 100%;
        min-height: 100vh;
        background-color: #30353b 0%;
        nav{
            
            .container{
                width: 100%;
                max-width: 1000px;
                overflow: hidden;
            }
            
            .logoname p{
                font-size: 15px;
            }
            .link{
                font-size: 8px;
                display: flex;
                flex-wrap:initial;
            }
        }
        .imagen-logo{
            width: 20px;
            height: 20px;
        }
        section{
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            overflow: hidden;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
        div{
            text-align: center;
            margin: 15px;
            .titulo-activo{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
            .cta{
                width: 50%;
                padding: 10px 20px;
                display: inline-block;
                background:#F4BD76;
                text-decoration: none;
                color: #30353b;
                font-weight: 700;
                box-shadow: 0 8px 8px, #00000033;
                margin: 10px;
            }
            
        }
        .imagenP{
            display: none;
        }
        
    }
        
}
@media  (min-device-width : 60px) and (max-device-width : 250px){
    
    header{
        width: 100%;
    min-height: 100vh;
    background-color: #30353b 0%;
    nav{
        .container{
            width: 100%;
            max-width: 1000px;
            overflow: hidden;
        }
        .imagen-logo{
            width: 40px;
            height: 40px;
        }
        .logoname p{
            font-size: 5px;
        }
        .link{
            font-size: 8px;
            display: flex;
            flex-wrap:initial;
        }
    }
    section{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    div{
        text-align: center;
        margin: 15px;
        .titulo-activo{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }
        .cta{
            width: 50%;
            padding: 10px 20px;
            display: inline-block;
            background:#F4BD76;
            text-decoration: none;
            color: #30353b;
            font-weight: 700;
            box-shadow: 0 8px 8px, #00000033;
            margin: 10px;
        }
        
    }
    .imagenP{
        display: none;
    }
    }
        
    
}
main {
    .servicios {
        background: #fafafa;

        div {
            width: 90%;

            margin: 0 auto;
            overflow: hidden;
            padding: 100px 0;
            height: auto;

            h2 {
                color: linear-gradient(#30353b 0%, #1a1b1f 100%);
                font-size: 42px;
                margin: 10px;
                padding: 10px;

                .punto {
                    color: #F4BD76;

                }
            }

            .parrafo-section {
                color: #1a1b1f;
                font-size: 22px;
                line-height: 32px;
                margin: 10px;
                padding: 10px;

                .parrafo-section-modif {
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 32px;
                }
            }

            article {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                div {
                    width: 35%;
                    padding: 30px 0;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    box-shadow: 0 0 6px #30353b;

                    .card-img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                    }
                }

                div .cards-text {
                    text-align: center;
                    width: 95%;
                    margin: 0 auto;

                    .card-list {
                        color: #F4BD76;
                        font-weight: 700;
                        font-size: 22px;
                        text-align: center;
                    }

                    .card-title {
                        font-size: 40px;
                        color: #ffffff;
                        margin-bottom: 8px;
                        text-align: center;

                        .punto {
                            color: #F4BD76;
                        }
                    }

                    .card-parrafo {
                        color: #ffffff;
                        margin-bottom: 16px;
                        padding: 20px;
                    }

                    .card-button {
                        padding: 20px 30px;
                        display: inline-block;
                        background: #F4BD76;
                        text-decoration: none;
                        color: #30353b;
                        font-weight: 700;
                        box-shadow: 0 8px 8px, #00000033;
                        margin: 10px;
                    }
                }
            }
        }
    }

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding: 100px 0;
        height: auto;

        .blog {
            width: 100%;
            min-height: 50vh;
            background: linear-gradient(180deg, var(#00000033) 0%, var(#1a1b1f)100%);
        }

        .subtitulo {
            font-size: 42px;

            .punto {
                color: #F4BD76;
            }
        }

        .parrafo-section {
            color: #1a1b1f;
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 60px;
        }

        .container-bg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .cards {
                width: 30%;
                padding: 30px 0;
                overflow: hidden;

                position: relative;
                text-align: center;
                margin-bottom: 60px;
                box-shadow: 0 0 6px (#6d656533);

                .card-text {
                    text-align: left;
                    width: 95%;
                    margin: 0 auto;
                }

                .card-title {
                    font-size: 38px;
                    color: #fff;
                    margin-bottom: 8px;

                    .punto {
                        color: #F4BD76;
                    }
                }

                .card-date {
                    color: #f6cd8f;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 16px;
                }

                .card-parrafo {
                    color: #ffffff;
                    margin-bottom: 16px;
                    padding: 20px;
                }

                .card-button {
                    padding: 20px 30px;
                    display: inline-block;
                    background: #F4BD76;
                    text-decoration: none;
                    color: #30353b;
                    font-weight: 700;
                    box-shadow: 0 8px 8px, #00000033;
                    margin: 10px;
                }
            }

            .background {
                width: 68%;
                height: 290px;
                border-radius: 10px;
                position: relative;
                margin-bottom: 60px;

                .background-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                }

                .background-text {
                    position: absolute;
                    width: 100%;
                    bottom: 10px;
                    left: 15px;
                    background-color: #1a1b1f;
                    color: rgb(255, 255, 255);
                }

                .background-title {
                    font-size: 24px;
                    margin-bottom: 4px;
                    color: #ffffff;
                    font-weight: 600;
                }

                .background-copy {
                    font-size: 20px;
                    margin: auto;
                    color: #ffffff;
                    font-weight: 400;
                }
            }
        }

        .tienda {
            background: #fafafa;

            .container {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo {
                    font-size: 42px;

                    .punto {
                        color: #F4BD76;
                    }
                }

                .parrafo-section {
                    color: #1a1b1f;
                    font-size: 22px;
                    line-height: 32px;
                    margin-bottom: 60px;
                }

            }
        }
    }

    .tienda-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .tienda-card {
            width: 30%;
            height: 500px;
            background: linear-gradient(180deg, (#0e0d0da1) 0%, (#1a1b1f)100%);
            border-radius: 10px;
            position: relative;
            margin-bottom: 30px;

            .tienda-img {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                object-fit: cover;
                object-position: center top;
            }

            .tienda-copy {
                position: absolute;
                bottom: 20px;
                left: 5%;
                width: 90%;
                background: linear-gradient(#30353b 0%, #1a1b1f 100%);
                color: #fff;
                margin: 0 auto;
                box-shadow: #30353b, #6d656533;
                padding: 15px 8px;
                display: flex;
                align-items: center;

                .tienda-logo {
                    font-size: 20px;
                    margin-right: 15px;
                    display: inline-block;
                }

                .tienda-info {
                    width: 70%;

                    .tienda-name {
                        font-size: 24px;
                        line-height: 28px;
                    }

                    .tienda-position {
                        color: #ffffff;
                        font-size: 18px;
                    }

                    .tiendaLink {
                        color: #F4BD76;
                        text-decoration: none;
                        font-family: inherit;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .email {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding: 100px 0;
        height: auto;
        text-align: center;

        

        .parrafo-section-modif {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 32px;
            color: #1a1b1f;
            font-size: 22px;
        }

        .check {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 0 auto;

            .check-item {
                width: 30%;
                padding-right: 10px;
                display: flex;
                border-right: 2px solid #1a1b1f;
            }

            .check-number {
                font-weight: 700;
            }

            .check-parrafo {
                font-weight: 300;
            }

        }

        form {
            width: 60%;
            margin: 0 auto;
            margin-top: 40px;
            text-align: center;
            height: auto;
            font-family: inherit;
            position: relative;
            border-radius: 6px;

            .casilla-input {
                width: 100%;
                height: 100%;
                padding: 22px 10px;
                outline: none;
                font-family: inherit;
                border-radius: 6px;
                border: 1px solid #1a1b1f;
            }

            .casilla-submit {
                position: absolute;
                right: 8px;
                top: 10%;
                height: 80%;
                background: linear-gradient(180deg, (#0e0d0da1) 0%, (#1a1b1f)100%);
                color: #fff;
                padding: 0 15px;
                border: none;
                border-radius: 6px;
                font-family: inherit;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }

    @media  (min-device-width : 900px) and (max-device-width : 1024px){
        .servicios {
            background: #dfa252;

            div {
                width: 90%;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo {
                    font-size: 32px;

                    .punto {
                        color: #1a1b1f;
                    }
                }
            }

            article {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                div {
                    width: 35%;
                    padding: 30px 0;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    box-shadow: 0 0 6px #30353b;

                    .card-img {
                        width: 90%;
                        height: 200px;
                        object-fit: cover;
                    }
                }

                div .cards-text {
                    width: 90%;
                    text-align: center;
                    margin: 0 auto;

                    .card-list {
                        color: #F4BD76;
                        font-weight: 700;
                        font-size: 18px;
                        text-align: center;
                    }

                    .card-parrafo {
                        color: #ffffff;
                        margin-bottom: 16px;
                        padding: 28px;
                        font-size: 20px;
                    }

                    .card-title {
                        font-size: 20px;
                        color: #ffffff;
                        margin-bottom: 8px;
                        text-align: center;

                        .punto {
                            color: #F4BD76;
                        }
                    }
                }

                .card-button {
                    width: 50%;
                    padding: 10px 20px;
                    display: inline-block;
                    background: #F4BD76;
                    text-decoration: none;
                    color: #30353b;
                    font-weight: 700;
                    box-shadow: 0 8px 8px, #00000033;
                    margin: 10px;
                }
            }
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 100px 0;
            height: auto;
    
            .blog {
                width: 100%;
                min-height: 50vh;
                background: linear-gradient(180deg, var(#00000033) 0%, var(#1a1b1f)100%);
            }
    
            .subtitulo {
                font-size: 32px;
            }
    
            .container-bg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
    
                .card {
                    width: 30%;
                    padding: 30px 0;
                    overflow: hidden;
    
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    background-color: #1a1b1f;
    
                    .card-title {
                        font-size: 25px;
                        color: #fff;
                        margin-bottom: 8px;
                    }
    
                    .card-parrafo {
                        color: #ffffff;
                        margin-bottom: 16px;
                        padding: 30px;
                        font-weight: 300;
                    }
    
                    .card-button {
                        width: 40%;
                    }
                }
                .background {
                    width: 68%;
                    height: 290px;
                    border-radius: 10px;
                    position: relative;
                    margin-bottom: 60px;
    
                    .background-img {
                        width: 100%;
                        height: 70%;
                        object-fit: cover;
                        border-radius: inherit;
                    }
    
                    .background-text {
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        bottom: 100px;
                        left: 0px;
                        background-color: #1a1b1f;
                        color: rgb(255, 255, 255);
                    }
    
                    .background-title {
                        font-size: 20px;
                        margin-bottom: 4px;
                        color: #ffffff;
                        font-weight: 600;
                    }
    
                    .background-copy {
                        font-size: 18px;
                        margin: auto;
                        color: #ffffff;
                        font-weight: 400;
                    }
                }
            }
        }
        .tienda{
            background: #dfa252;

            .container{
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo{
                    font-size: 32px;

                    .punto{
                        color: #1a1b1f;
                    }
                }
                .tienda-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
        
                    .tienda-card{
                        width: 30%;
                        height: 500px;
                        background-color: #1a1b1f;
                        border-radius: 10px;
                        position: relative;
                        margin-bottom: 30px;
                        
                        .tienda-imag{
                            width: 90%;
                            height: 90%;
                            border-radius: inherit;
                            object-fit: cover;
                            object-position: center top;
                        }
                    }
                    .tienda-copy{
                        position: absolute;
                        bottom: 10px;
                        left: 5%;
                        width: 90%;
                        background: linear-gradient(#30353b 0%, #1a1b1f 100%);
                        color: #fff;
                        margin: 0 auto;
                        box-shadow: #30353b, #6d656533;
                        padding: 15px 8px;
                        display: flex;
                        align-items: center;
                    }
                    .tienda-info{
                        width: 50%;
                        .tienda-name{
                            font-size: 20px;
                            line-height: 28px;
                            
                        }
                        .tienda-position{
                            font-size: 15px;
                            padding: 5px;
                            margin: 5px;
                        }
                        .tiendaLink{
                            background-color: #F4BD76;
                            color: #1a1b1f;
                            font-size: 18px;
                            font-weight: 200;
                    
                        }
                    }
                }
            }
        }
    }

    @media  (min-device-width : 700px) and (max-device-width : 900px){
        .servicios {
            background:#3e3e3feb;

            div {
                width: 90%;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo {
                    font-size: 35px;
                    color: #fff;

                    .punto {
                        color: #F4BD76;
                    }
                }
                .parrafo-section{
                    color: #fff;
                }
            }

            article {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .card{
                    width: 48%;
                    padding: 30px 0;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    box-shadow: 0 0 6px #30353b;

                    .card-img {
                        width: 90%;
                        height: 200px;
                        object-fit: cover;
                    }
                    .cards-text {
                        width: 95%;
                        text-align: center;
                        margin: 0 auto;
    
                        .card-list {
                            color: #F4BD76;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                        }
    
                        .card-parrafo {
                            color: #ffffff;
                            margin-bottom: 16px;
                            padding: 28px;
                            font-size: 20px;
                        }
    
                        .card-title {
                            font-size: 25px;
                            color: #ffffff;
                            margin-bottom: 8px;
                            text-align: center;
    
                            .punto {
                                color: #F4BD76;
                            }
                        }
                    }
                }
                .card-button {
                    width: 40%;
                    display: inline-block;
                    background: #F4BD76;
                    text-decoration: none;
                    color: #30353b;
                    font-weight: 700;
                    box-shadow: 0 8px 8px, #00000033;
                    margin: 10px;
                }
            }
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 100px 0;
            height: auto;
    
            .blog {
                width: 100%;
                min-height: 50vh;
                background: #1a1b1f;
            }
    
            .subtitulo {
                font-size: 32px;
            }
    
            .container-bg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
    
                .card {
                    width: 30%;
                    padding: 30px 0;
                    overflow: hidden;
    
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    background-color: #1a1b1f;
    
                    .cards-text {
                        text-align: center;
                        width: 95%;
                        margin: 0 auto;
                        .card-title {
                            font-size: 18px;
                            color: #fff;
                            margin-bottom: 8px;
                            font-weight: 700;
                        }
                        .card-parrafo {
                            margin-bottom: 16px;
                            font-weight: 300;
                        }
                        .card-button {
                            width: 40%;
                        }
                    }
                    
                }
                .background {
                    width: 68%;
                    height: 290px;
                    border-radius: 10px;
                    position: relative;
                    margin-bottom: 60px;
    
                    .background-img {
                        width: 100%;
                        height: 70%;
                        object-fit: cover;
                        border-radius: inherit;
                    }
    
                    .background-text {
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        left: 0px;
                        background-color: #1a1b1f;
                        color: rgb(255, 255, 255);
                    }
    
                    .background-title {
                        font-size: 20px;
                        margin-bottom: 4px;
                        color: #ffffff;
                        font-weight: 600;
                    }
    
                    .background-copy {
                        font-size: 15px;
                        margin: auto;
                        color: #ffffff;
                        font-weight: 400;
                    }
                }
            }
        }
        .tienda{
            background:#3e3e3feb;

            .container{
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo{
                    font-size: 35px;
                    color: #fff;

                    .punto{
                        color: #dfa252;
                    }
                }
                .parrafo-section{
                    color: #ffffff;
                }
                .tienda-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
        
                    .tienda-card{
                        width: 48%;
                        height: 500px;
                        border-radius: 10px;
                        position: relative;
                        margin-bottom: 30px;
                        
                        .tienda-img{
                            width: 100%;
                            height: 90%;
                            border-radius: inherit;
                            object-fit: cover;
                            object-position: center top;
                        }
                        .tienda-copy{
                            position: absolute;
                            bottom: 10px;
                            left: 5%;
                            width: 90%;
                            background: linear-gradient(#30353b 0%, #1a1b1f 100%);
                            color: #fff;
                            margin: 0 auto;
                            box-shadow: #30353b, #6d656533;
                            padding: 15px 8px;
                            display: flex;
                            align-items: center;

                            .tienda-info{
                                width: 40%;
                                .tienda-name{
                                    font-size: 20px;
                                    text-align: justify;
                                    display: inline-block;
                                    
                                }
                                .tienda-position{
                                    display: none;
                                }
                                .tiendaLink{
                                    background-color: #30353b;
                                    color: #ffffff;
                                    font-size: 15px;
                                    font-weight: 200;
                                    text-align: center;
                                    right: 200px;
                            
                                }
                            }
                        }
                    }
                    
                    
                }
            }
        }
    }

    @media  (min-device-width : 250px) and (max-device-width : 500px){
        .servicios {
            background:#F4BD76;

            div {
                width: 100%;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo {
                    font-size: 25px;
                    color: #1a1b1f;
                    text-align: center;

                    .punto {
                        color: #131212;
                    }
                }
                .parrafo-section{
                    color: #1a1b1f;
                    text-align: center;
                }
            }

            article {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .card{
                    width: 100%;
                    padding: 10px 0;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    box-shadow: 0 0 6px #30353b;

                    .card-img {
                        width: 90%;
                        height: 200px;
                        object-fit: cover;
                    }
                    .cards-text {
                        width: 95%;
                        text-align: center;
                        margin: 0 auto;
    
                        .card-list {
                            color: #F4BD76;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                        }
    
                        .card-parrafo {
                            color: #ffffff;
                            margin-bottom: 16px;
                            padding: 28px;
                            font-size: 15px;
                        }
    
                        .card-title {
                            font-size: 25px;
                            color: #ffffff;
                            margin-bottom: 8px;
                            text-align: center;
    
                            .punto {
                                color: #F4BD76;
                            }

                        }
                        .card-button {
                            width: 50%;
                            display: inline-block;
                            background: #F4BD76;
                            text-decoration: none;
                            color: #30353b;
                            font-weight: 700;
                            margin: 10px;
                            text-align: center;
                        }
                    }
                }
                
            }
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 100px 0;
            height: auto;
    
            .blog {
                width: 100%;
                min-height: 50vh;
                background: #1a1b1f;
            }
    
            .subtitulo {
                font-size: 30px;
                text-align: center;
            }
            .parrafo-section{
                text-align: center;
                padding: 30px;
            }
            .container-bg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
    
                .card {
                    width: 100%;
                    padding: 30px 0;
                    overflow: hidden;
    
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    background-color: #1a1b1f;
    
                    .cards-text {
                        text-align: center;
                        width: 95%;
                        margin: 0 auto;
                        .card-title {
                            font-size: 18px;
                            color: #fff;
                            margin-bottom: 8px;
                            font-weight: 700;
                        }
                        .card-parrafo {
                            margin-bottom: 16px;
                            font-weight: 300;
                        }
                        .card-button {
                            width: 40%;
                        }
                    }
                    
                }
                .background {
                    display: none;
    
                    .background-img {
                        width: 100%;
                        height: 70%;
                        object-fit: cover;
                        border-radius: inherit;
                    }
    
                    .background-text {
                    display: none;
                    }
    
                    .background-title {
                        font-size: 20px;
                        margin-bottom: 4px;
                        color: #ffffff;
                        font-weight: 600;
                    }
    
                    .background-copy {
                        font-size: 15px;
                        margin: auto;
                        color: #ffffff;
                        font-weight: 400;
                    }
                }
            }
        }
        .tienda{
            background:#F4BD76;

            .container{
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo{
                    font-size: 35px;
                    color: #1a1b1f;

                    .punto{
                        color: #1a1b1f;
                    }
                }
                .parrafo-section{
                    color: #1a1b1f;
                }
                .tienda-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 220%;
        
                    .tienda-card{
                        width: 48%;
                        height: 500px;
                        border-radius: 10px;
                        position: relative;
                        margin-bottom: 30px;
                        
                        .tienda-img{
                            width: 100%;
                            height: 50%;
                            border-radius: inherit;
                            object-fit: cover;
                            object-position: center top;
                        }
                        .tienda-copy{
                            position: absolute;
                            bottom: 10px;
                            left: 5%;
                            width: 150%;
                            background: linear-gradient(#30353b 0%, #1a1b1f 100%);
                            color: #fff;
                            margin: 0 auto;
                            box-shadow: #30353b, #6d656533;
                            padding: 15px 8px;
                            display: flex;
                            align-items: center;

                            .tienda-info{
                                width: 40%;
                                .tienda-name{
                                    font-size: 20px;
                                    text-align:center;
                                    display: inline-block;
                                    
                                }
                                .tienda-position{
                                    display: none;
                                }
                                .tiendaLink{
                                    background-color: #30353b;
                                    color: #ffffff;
                                    font-size: 20px;
                                    font-weight: 200;
                                    text-align: center;
                                    
                            
                                }
                            }
                        }
                    }
                    
                    
                }
            }
            .container {

                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;
                text-align: center;

                .subtitulo-modif {
                    text-align: center;
                    margin-bottom: 16px;
                    font-size: 20px;
        
                    .punto {
                        color: #F4BD76;
                    }
                }
                .parrafo-section {
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 32px;
                    color: #1a1b1f;
                    font-size: 18px;
                }
            .check{
                display: none;
            }
            }
            
        }
    }

    @media  (min-device-width : 500px) and (max-device-width : 700px){
        .servicios {
            background:#F4BD76;

            div {
                width: 100%;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo {
                    font-size: 25px;
                    color: #1a1b1f;

                    .punto {
                        color: #131212;
                    }
                }
                .parrafo-section{
                    color: #1a1b1f;
                }
            }

            article {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .card{
                    width: 55%;
                    padding: 10px 0;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    box-shadow: 0 0 6px #30353b;

                    .card-img {
                        width: 90%;
                        height: 200px;
                        object-fit: cover;
                    }
                    .cards-text {
                        width: 95%;
                        text-align: center;
                        margin: 0 auto;
    
                        .card-list {
                            color: #F4BD76;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                        }
    
                        .card-parrafo {
                            color: #ffffff;
                            margin-bottom: 16px;
                            padding: 28px;
                            font-size: 20px;
                        }
    
                        .card-title {
                            font-size: 25px;
                            color: #ffffff;
                            margin-bottom: 8px;
                            text-align: center;
    
                            .punto {
                                color: #F4BD76;
                            }

                        }
                        .card-button {
                            width: 50%;
                            display: inline-block;
                            background: #F4BD76;
                            text-decoration: none;
                            color: #30353b;
                            font-weight: 700;
                            margin: 10px;
                            text-align: center;
                        }
                    }
                }
                
            }
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 100px 0;
            height: auto;
    
            .blog {
                width: 100%;
                min-height: 50vh;
                background: #1a1b1f;
            }
    
            .subtitulo {
                font-size: 32px;
            }
    
            .container-bg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
    
                .card {
                    width: 100%;
                    padding: 30px 0;
                    overflow: hidden;
    
                    position: relative;
                    text-align: center;
                    margin-bottom: 60px;
                    background-color: #1a1b1f;
    
                    .cards-text {
                        text-align: center;
                        width: 95%;
                        margin: 0 auto;
                        .card-title {
                            font-size: 18px;
                            color: #fff;
                            margin-bottom: 8px;
                            font-weight: 700;
                        }
                        .card-parrafo {
                            margin-bottom: 16px;
                            font-weight: 300;
                        }
                        .card-button {
                            width: 40%;
                        }
                    }
                    
                }
                .background {
                    width: 100%;
                    height: 290px;
                    border-radius: 10px;
                    position: relative;
                    margin-bottom: 60px;
    
                    .background-img {
                        width: 100%;
                        height: 70%;
                        object-fit: cover;
                        border-radius: inherit;
                    }
    
                    .background-text {
                    display: none;
                    }
    
                    .background-title {
                        font-size: 20px;
                        margin-bottom: 4px;
                        color: #ffffff;
                        font-weight: 600;
                    }
    
                    .background-copy {
                        font-size: 15px;
                        margin: auto;
                        color: #ffffff;
                        font-weight: 400;
                    }
                }
            }
        }
        .tienda{
            background:#F4BD76;

            .container{
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;

                .subtitulo{
                    font-size: 35px;
                    color: #1a1b1f;

                    .punto{
                        color: #1a1b1f;
                    }
                }
                .parrafo-section{
                    color: #1a1b1f;
                }
                .tienda-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 220%;
        
                    .tienda-card{
                        width: 48%;
                        height: 500px;
                        border-radius: 10px;
                        position: relative;
                        margin-bottom: 30px;
                        
                        .tienda-img{
                            width: 100%;
                            height: 90%;
                            border-radius: inherit;
                            object-fit: cover;
                            object-position: center top;
                        }
                        .tienda-copy{
                            position: absolute;
                            bottom: 10px;
                            left: 5%;
                            width: 90%;
                            background: linear-gradient(#30353b 0%, #1a1b1f 100%);
                            color: #fff;
                            margin: 0 auto;
                            box-shadow: #30353b, #6d656533;
                            padding: 15px 8px;
                            display: flex;
                            align-items: center;

                            .tienda-info{
                                width: 40%;
                                .tienda-name{
                                    font-size: 20px;
                                    text-align: justify;
                                    display: inline-block;
                                    
                                }
                                .tienda-position{
                                    display: none;
                                }
                                .tiendaLink{
                                    background-color: #30353b;
                                    color: #ffffff;
                                    font-size: 20px;
                                    font-weight: 200;
                                    text-align: center;
                                    right: 200px;
                            
                                }
                            }
                        }
                    }
                    
                    
                }
            }
            .email{
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;
                text-align: center;

                .subtitulo-modif {
                    text-align: center;
                    margin-bottom: 16px;
                    font-size: 25px;
        
                    .punto {
                        color: #F4BD76;
                    }
                }
                .parrafo-section {
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 32px;
                    color: #1a1b1f;
                    font-size: 18px;
                }
            }
        }
    }





}

@media(min-device-width : 900px) and (max-device-width : 1024px){
    .footer{
        background-color: #fafafa;
        .footer-caption{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-evenly;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 20px 0;
            height: auto;
            .get-email{
                width: 50%;
            }
        }
        .contacto{
            display: flex;
        width: 100%;
        flex-wrap: wrap;
        color: #fff;
        
        .nMedia{
            display: none;
        }
        .contacto-title{
            font-size: 15px;
        }
        }
    }
}
@media(min-device-width : 700px) and (max-device-width : 900px){
    .footer{
        background-color: #fafafa;
        .footer-caption{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-evenly;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 20px 0;
            height: auto;
            .get-email{
                width: 50%;
            }
        }
        .contacto{
            display: flex;
        width: 100%;
        flex-wrap: wrap;
        color: #fff;
        
        .nMedia{
            display: none;
        }
        .contacto-title{
            font-size: 15px;
        }
        }
    }
}
@media(min-device-width : 500px) and (max-device-width : 700px){
    .footer{
        background-color: #fafafa;
        .footer-caption{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-evenly;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 20px 0;
            height: auto;
            .get-email{
                width: 70%;

                .title-footer{
                    font-size: 20px;
                }
                .casilla-modif{
                    width: 100%;
                }
                .socialmedia{
                    margin-top: 24px;
                    color:#201e1ea1;
                   
                }
            }
        }
        .contacto{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            color: #fff;
        .contacto-title{
            font-size: 15px;
            vertical-align:auto;
        }
        .item-contactogold{
            background: #F4BD76;
            
            .contacto-gold a{
                color: #30353b;
            }
        }
        
        }
    }
}
@media(min-device-width : 60px) and (max-device-width : 500px){
    .footer{
        background-color: #fafafa;
        .footer-caption{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-evenly;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 20px 0;
            height: auto;
            .get-email{
                width: 100%;

                .title-footer{
                    font-size: 20px;
                    text-align: center;
                }
                .casilla-modif{
                    width: 100%;
                }
                .socialmedia {
                    display: none;
                }
                .socialmedia-icon{
                   display: none;
                }
            }
        }
        .contacto{
            display: none;
        }
    }
}